/* Custom CSS for Jellyfin */
/* Remove Live TV Channel Listings */
.guideChannelNumber { display: none; }

/*Adjust both "size-adjust" and "size" to modify size*/
.headerTabs.sectionTabs {text-size-adjust: 100%;  font-size: 100%;}

/* Login Page */
#loginPage {
  background: url("https://a.uguu.se/MVRphpEu.jpg");
  background-size: cover;
}
/* Narrow the login form */
#loginPage .readOnlyContent, #loginPage form {max-width: 22em;}

/* Hide "please login" text, margin is to prevent login form moving too far up */
#loginPage h1 {display: none}
#loginPage .padded-left.padded-right.padded-bottom-page {margin-top: 50px}

/* Hide "manual" and "forgot" buttons */
/* #loginPage .raised.cancel.block.btnManual.emby-button {display: none} */
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {display: none}

/* Background */
.backdropImage { display: none; }

.backgroundContainer {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("https://i.redd.it/4sw9dpanwn771.png");
  filter: blur(10px);
  background-size: cover;
}

/* Darken background, only works with blue radiance */
.backgroundContainer {background-color: #000000; filter: brightness(50%);}

/* Transparent Top */
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {background:none; background-color:rgba(0, 0, 0, 0.1);}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.noHomeButtonHeader {background:none; background-color:rgba(0, 0, 0, 0.5);}


/* Size episode preview images in a more compact way */
.listItemImage.listItemImage-large.itemAction.lazy {height: 110px;}
.listItem-content {height: 115px;}
.secondary.listItem-overview.listItemBodyText {height: 61px; margin: 0;}

/* Watched Icon Color */
.playedIndicator {background: #a3be8c;}

/*Theme some dialogues*/
.dialog {border-radius: 6px !important; background-color: rgba(0, 0, 0, 0.9);}
.actionSheetMenuItem:hover {background-color: rgba(0, 164, 220, 0.2);}
.mainDrawer {background-color: rgba(0, 0, 0, 0.9);}
.navMenuOption:hover {background: rgba(0, 164, 220, 0.2);}

/* Image Edge Rounded */
.cardPadder,
.cardImageContainer,
.cardOverlayContainer {
  border-radius: 0.5em;
}
