@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/fixes.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/jf_font.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/base.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/accentlist.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/rounding.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/smallercast.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/episodelist/episodes_grid.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/header/header_transparent.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/login/login_frame.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/fields/fields_noborder.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/cornerindicator/indicator_corner.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/type/dark_withaccent.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/titlepage/title_banner.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/progress/floating.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/effects/hoverglow.css');
@import url("https://cdn.jsdelivr.net/gh/prayag17/Jellyfin-Icons/round.css");

:root {--accent: 98, 121, 205;}
:root {--rounding: 12px;}

/* Remove Live TV Channel Listings */
.guideChannelNumber { display: none; }

/*Adjust both "size-adjust" and "size" to modify size*/
.headerTabs.sectionTabs {text-size-adjust: 100%;  font-size: 100%;}

/* Login Page */
#loginPage {
  background: url("jellyfinlogin/1.jpg")  !important;
  background-size: cover !important;
}

/* Hide "please login" text, margin is to prevent login form moving too far up */
#loginPage h1 {display:none;}
#loginPage .padded-left.padded-right.padded-bottom-page {margin-top: 50px;}

/* Hide "manual" and "forgot" buttons */
/* #loginPage .raised.cancel.block.btnManual.emby-button {display: none} */
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {display: none;}

/* Background */
.backdropImage { display: none; }

.backgroundContainer {
  background-color: rgba(0, 0, 0, 0);
  background-image: url("jellyfinlogin/2.jpg");
  filter: blur(8px) saturate(120%) contrast(120%) brightness(40%);
  background-size: cover;
}

/* Server Message */
#homeTab
  > div
  > div.section0:before{
  content: '⚠ Server Announcement: Please use a client if you are not already https://jellyfin.org/downloads/clients/ ⚠';
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  display: block;
}
